html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.25em;
}

h3::before {
  display: block;
  content: " ";
  margin-top: -285px;
  height: 285px;
  visibility: hidden;
  pointer-events: none;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #21669B, rgba(0, 0, 0, 0));
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-toggler {
  background-color: #FFFFFF;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2,53,129,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bez_zawijania {
  white-space: nowrap;
}

.bez_marginesu {
  margin-bottom: 0px;
}

.prawy_odstep {
  padding-left: 20px;
}

.underline {
  border-bottom: 1px solid currentColor;
}

.obrazek_po_srodku {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
}

.div_na_obrazku {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.85);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text_na_obrazku {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  font-size: 1.4em;
  font-style: italic;
}

.carousel-item {
  position: relative;
}

.carousel-control-prev-icon {
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 22px;
  height: 40px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 22px;
  height: 40px;
}

.pitek_studio {
  font-size: 0.6em;
  margin-bottom: 0px;
}

.przyciski_uslugi_sidebar {
  color: #024A81;
  border-bottom: 1px solid #21669B;
  border-radius: 0px;
}

.przyciski_uslugi_sidebar:hover {
  background-color: #21669B;
  color: #FFFFFF;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.accordionHeader {
  background-color: #FFFFFF;
  border-bottom: 0px;
  padding-top: 2.5px;
  padding-bottom: 1px;
}

.accordionButton {
  color: #024A81;
  padding-top: 0px;
  padding-bottom: 6px;
  font-weight: 300;
  font-size: 0.6em;
}

.accordion .card .collapse .card-body ul {
  margin-bottom: 0px;
}

.accordion .card #collapseSeven .card-body {
  padding-bottom: 0px;
}

.accordion .card .accordionHeader h2 {
  border-bottom: 1px solid #21669B;;
}

.accordion .card .accordionHeader h2 button {
  background-color: #FFFFFF;
  color: #024A81;
  border-radius: 0px;
  text-decoration: none;
}

.accordion .card .accordionHeader h2 button .span_for_svg_uslugi_mniej_niz_768_px_in_button {
  color: #21669B;
}

.span_for_text_uslugi_mniej_niz_768_px_in_button {
  display: inline-block;
  width: 170px;
  text-align: left;
}

.svg_uslugi_mniej_niz_768_px_in_button {
  padding-bottom: 5px;
}

.rotate {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  fill: #21669B;
}

.rotate.down {
  -moz-transform: scaleX(-1) scaleY(-1);
  -o-transform: scaleX(-1) scaleY(-1);
  -webkit-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scale(-1, -1);
  -ms-filter: "FlipH FlipV";
  transform: scaleX(-1) scaleY(-1);
  filter: FlipH FlipV;
  fill: none;
}

#pasek_nawigacyjny div.bez_zawijania {
  font-size: 1.2em;
}

#uslugi_mniej_niz_768_px .card {
  border-radius: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

#uslugi .card-body .row_uslugi_wiecej_niz_768_px_all_box .col-3 .active {
  background-color: #21669B;
  color: #FFFFFF;
}

#uslugi .card-body .row_uslugi_wiecej_niz_768_px_all_box .col-9 {
  padding-left: 25px;
}

#pasek_nawigacyjny {
  padding-left: 20px;
  padding-right: 20px;
}

#goToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #024A81;
  color: #FFFFFF;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#goToDown {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #024A81;
  color: #FFFFFF;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#goToTop:hover {
  background-color: #FFFFFF;
  color: #024A81;
  border: solid 1px #024A81;
}

#goToDown:hover {
  background-color: #FFFFFF;
  color: #024A81;
  border: solid 1px #024A81;
}

#pasek_nawigacyjny, #kontakt {
  background-color: #21669B;
}

#slajdy, #o_kancelarii, #uslugi {
  background-color: #FFFFFF;
}

#carouselExampleControls h2, #carouselExampleControls h3, #carouselExampleControls h4, #carouselExampleControls h5, #carouselExampleControls p, #o_kancelarii h3, #o_kancelarii p, #uslugi h3, #uslugi p, #uslugi li {
  color: #024A81;
  letter-spacing: 0.5px;
}

#pasek_nawigacyjny .logo, #pasek_nawigacyjny .link {
  color: #FFFFFF;
  letter-spacing: 0.5px;
}

#pasek_nawigacyjny .logo{
  padding-top: 0px;
  padding-bottom: 0px;
}

#kontakt h3, #kontakt h5, #kontakt p {
  color: #FFFFFF;
  letter-spacing: 0.5px;
}

#kontakt p .mail, #kontakt p .tel, #kontakt div .goToGoogleMaps {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 0.5px;
}

#kontakt .card-body {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width: 340px) {
  .span_for_text_uslugi_mniej_niz_768_px_in_button {
    text-align: center;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 1em;
  }
  #pasek_nawigacyjny div.bez_zawijania {
    font-size: 1em;
  }
  h3 {
    font-size: 1.55em;
  }
  h5 {
    font-size: 1.05em;
  }
  .accordionButton{
    font-size: 0.5em;
  }
  #goToTop, #goToDown {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .row_uslugi_wiecej_niz_768_px_all_box {
    height: 440px;
  }
}

@media (min-width: 992px) {
  .row_uslugi_wiecej_niz_768_px_all_box {
    height: 375px;
  }
}

@media (min-width: 1200px) {
  .row_uslugi_wiecej_niz_768_px_all_box {
    height: 350px;
  }
}
